{% extends 'admin/admin.html.twig' %}

{% block title %}New Recettes{% endblock %}

{% block container %}

    <div class="card-body col-lg-8 m-auto">
        <h1 class="text-center mb-3 ">Ajouter Recette</h1>
        <div class="container col-8 col-xl-8">
            {{ form_start(form) }}
            <div>
                <div class="border border-dark p-3 backgroundFieldset" id="liste">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label  for="categorie">Catégorie de recette</label>
                            {{form_widget(form.categories)}}
                        </div>
                        <div class="form-group col-md-6 ">
                            <label  for="prenom">Titre:</label>
                            {{form_widget(form.titre)}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label  for="tempsC">Temps de cuisson:</label>
                            {{form_widget(form.tmp_cuisson)}}
                        </div>
                        <div class="form-group col-md-6 ">
                            <label  for="tempsP">Temps de préparation:</label>
                            {{form_widget(form.tmp_prepa)}}
                        </div>
                    </div>
                    <div class="custom-file mb-5">
                        <label class="custom-label" for="image">Choisir une image</label>
                        {{form_widget(form.image)}}
                    </div>
                    <div class="form-group">
                        <label for="Description">Description:</label>
                        {{form_widget(form.descriptions)}}
                    </div>
                    <div class="form-group row pl-3">
                        {{form_widget( form.top_recette)}}<label for="top_recette">Top recette</label>
                    </div>
                    <div class="text-right mt-3">
                        <button type="submit" class="btn btn-dark" name="Ajouter">{{ button_label|default('Ajouter') }}</button>
                    </div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
